@import "tailwindcss";

:root {
  /* Light Theme */
  --background: #fff0f3; /* Off-white */
  --foreground: #800f2f; /* Dark blue-gray */
  --card-background: #ffb3c1;
  --text-color: #22577a; /* Medium blue-gray text */
  --primary-color: #3498db; /* Bright blue */
  --secondary-color: #8e44ad; /* Purple */
  --border-color: #ecf0f1; /* Light gray border */
  --gradient-start: #3498db;
  --gradient-end: #8e44ad;
  --pill-background: #abc4ff;
  --pill-text: #3e1f47;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card-background);
  --color-pill: var(--pill-background);
  --color-pill-text: var(--pill-text);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html.dark {
  /* Dark Theme */
  --background: #1c2833; /* Dark charcoal */
  --foreground: #ecf0f1; /* Off-white */
  --card-background: #212f3d; /* Darker charcoal */
  --text-color: #bdc3c7; /* Light gray text */
  --primary-color: #5dade2; /* Lighter blue */
  --secondary-color: #af7ac5; /* Lighter purple */
  --border-color: #34495e; /* Darker blue-gray border */
  --gradient-start: #5dade2;
  --gradient-end: #af7ac5;
}

body {
  background: var(--background);
  color: var(--text-color);
  font-family: var(--font-geist-sans), sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--foreground);
  font-family: var(--font-geist-mono), monospace;
}
